table{

    border-collapse:collapse;
    width: 1000px;
}
th , td{
    border-bottom:  2px solid black;
}
td{
    text-align: center;
}
tr :hover{
    background-color: green;
    cursor: inherit;
}
